<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/Gb.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <div class="logo">
            <img  src="assets/images/ges_cab.png" alt="" width="250" height="250" >
          </div>
          <div class="card">
            <div class="card-body">
              <h2 class="welcome-msg card-title"> Réinitiliser votre mot de passe </h2>
     
              <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <span class="error-subheader2 p-t-20 p-b-15">
                      Entrer vos informations.
                    </span>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Nom d'utilisateur</mat-label>
                      <input matInput formControlName="username" required>
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error *ngIf="authForm.get('username').hasError('required')">
                       Veuillez renseigner votre nom d'utilisateur
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                   
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Nouveau mot de passe</mat-label>
                      <input matInput formControlName="password" required>
                      <mat-icon matSuffix>password</mat-icon>
                      <mat-error *ngIf="authForm.get('password').hasError('required')">
                       Veuillez renseigner votre nouveau mot de passe
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="container-auth-form-btn mt-2 mb-0">
                  <button mat-flat-button [class.auth-spinner]="loading" [disabled]="loading" color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                    Envoyer
                  </button>
                </div>
                <div class="w-full p-t-25 text-center">
                  <div>
                    <a routerLink="/authentication/signin" class="txt1">
                      Se connecter?
                    </a>
                  </div>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
