.logo, .auth-signup-text{
    display: flex ; 
    align-items: center; 
    justify-content: center;
    img{
        margin-top: -15%;
    }
}
.card
{
  margin-bottom: 10px;
    box-shadow: 5px 5px 5px #c4c9c4;
    border-radius: 10%;
    padding: 20px;

}
.auth-form-btn{
    border-radius: 25px !important;
}
