<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Ajout d'un médecin</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i>Accueil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Médecins</a>
            </li>
            <li class="breadcrumb-item active">Ajout</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Ajouter un médecin</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="medecinForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom" minlength="3" maxlength="50" required>
                    <mat-error *ngIf="medecinForm.get('nom').hasError('required')">
                      Le nom est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="prenom" minlength="3" maxlength="50" required>
                    <mat-error *ngIf="medecinForm.get('prenom').hasError('required')">
                      Le prénom est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="genre" required>
                      <mat-option [value]="'Homme'">
                        Homme
                      </mat-option>
                      <mat-option [value]="'Femme'">
                        Femme
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="medecinForm.get('genre').hasError('required')">
                      Le genre est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Téléphone</mat-label>
                    <input matInput formControlName="telephone" type="text" required>
                    <mat-error *ngIf="medecinForm.get('telephone').hasError('required')">
                      Champ obligatoire, veuilez donner le bon numéro de téléphone
                    </mat-error>
                    <mat-error *ngIf="medecinForm.get('telephone').hasError('pattern')">
                      Veuillez entrer que des chiffres !
                    </mat-error>
                    <mat-error *ngIf="medecinForm.get('telephone').hasError('minlength')">
                      Votre numéro doit être au minimum de 8 chiffres !
                    </mat-error>
                    <mat-error *ngIf="medecinForm.get('telephone').hasError('maxlength')">
                      Votre numéro ne doit pas dépasser 13 chiffres !
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <input matInput formControlName="adresse" required minlength="4" maxlength="50">
                    <mat-error *ngIf="medecinForm.get('adresse').hasError('required')">
                      Ce champ est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Rive</mat-label>
                    <mat-select (ngModelChange)="onChangeRiveValue($event)" formControlName="rive" required>
                      <mat-option *ngFor="let item of allRive" value="{{item.idRive}}">
                        {{item.nomRive}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="medecinForm.get('rive').hasError('required')">
                      Veuillez entrez votre rive
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Cabinet Médicale</mat-label>
                    <mat-select (ngModelChange)="onChangeCabinetValue($event)" formControlName="cabinetMedicale" required>
                      <mat-option *ngFor="let item of allCabinetMedicales" value="{{item.idCabinet}}">
                        {{item.nom}} | {{item.adresse}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="medecinForm.get('cabinetMedicale').hasError('required')">
                      Veuillez selectionner un cabinet médicale
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Spécialité</mat-label>
                    <mat-select formControlName="specialite" required>
                      <mat-option *ngFor="let item of allSpecialities" value="{{item.idSpecialite}}">
                        {{item.nom}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="medecinForm.get('specialite').hasError('required')">
                      Selectionner une spécialité !
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="medecinForm.get('email').hasError('email') && medecinForm.get('email').touched">
                      Entrer votre email valide
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput formControlName="username" required minlength="3" maxlength="20">
                    <mat-error *ngIf="medecinForm.get('username').hasError('required')">
                      Ce champ est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" type="password" minlength="6" maxlength="20" required>
                    <mat-error *ngIf="medecinForm.get('password').hasError('required')">
                      Le mot de passe est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [class.auth-spinner]="loading" [disabled]="!medecinForm.valid " mat-raised-button
                    color="primary">Ajouter</button>
                  <button type="button" color="warn" (click)="resetForm()" mat-raised-button>Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
