<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Passés</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i>Accueil</a>
            </li>
            <li class="breadcrumb-item active">Les rendez-vous passés</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Les rendez-vous passés</strong></h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Recherche" type="text" (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                          aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table [dataSource]="pastRDV" matSort class="mat-cell">
                <ng-container matColumnDef="nom">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nom de médecin</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.medecin.nom}} {{row.medecin.prenom}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.medecin.email}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="telephone">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.medecin.telephone}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="rdvDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date et Heure</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.rdvDate | date: 'dd/MM/yyyy' }}, {{row.rdvHeure}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="isValid">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Accepter</mat-header-cell>
                  <ng-container *matCellDef="let row">
                    <mat-cell *ngIf="row.isValid===null" class="col-red">En attente</mat-cell>
                    <mat-cell *ngIf="row.isValid===false" class="col-red">Non</mat-cell>
                    <mat-cell *ngIf="row.isValid===true" class="col-green">Oui</mat-cell>
                  </ng-container>
                </ng-container>
                <ng-container matColumnDef="adresse">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.medecin.adresse}}</mat-cell>
                </ng-container>
                
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </mat-table>
              <div *ngIf="pastRDV.data.length === 0" class="no-results text-center mt-3">
                Vous n'avez pas encore de rendez-vous passés !
              </div>
              <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[2, 5, 10, 25, 50]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
