<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 msl-3 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="rdvForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Rive</mat-label>
            <mat-select formControlName="rive" (ngModelChange)="onChangeRiveValue($event)">
              <mat-option *ngFor="let item of allRives" [value]="item.idRive">
                {{item.nomRive}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rdvForm.get('rive').hasError('required')">Veuillez selectionner la rive</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="date" formControlName="rdvDate">
            <mat-error *ngIf="rdvForm.get('rdvDate').hasError('required')">
              Veuillez entrer une date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cabinet Médicale</mat-label>
            <mat-select (ngModelChange)="onChangeCabinetValue($event)" formControlName="cabinetMedicale" required>
              <mat-option *ngFor="let item of allCabinetMedicales" [value]="item.idCabinet">
                {{item.nom}} | {{item.adresse}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rdvForm.get('cabinetMedicale').hasError('required')">
              Veuillez selectionner un cabinet médicale
            </mat-error>
          </mat-form-field>
        </div>
        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Heure</mat-label>
            <input matInput type="time" formControlName="rdvHeure">
            <mat-icon matSuffix>access_time</mat-icon>
            <mat-error *ngIf="rdvForm.get('rdvHeure').hasError('required')">
              Veuillez entrer l'heure
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Médecin</mat-label>
            <mat-select formControlName="medecin">
              <mat-option *ngFor="let item of allMedecins" [value]="item.idPerson">
                {{item.nom}} {{item.prenom}} | {{item.specialite.nom}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rdvForm.get('medecin').hasError('required')">
              Veuillez selectionner un Médecin
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Symptôme</mat-label>
            <input matInput type="text" formControlName="symptom">
            <mat-error *ngIf="rdvForm.get('symptom').hasError('required')">
              Veuillez donner votre symptôme
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <p>Tarif de consultation : <strong>{{selectedCabinet?.tarifsConsultations}} FCFA</strong></p>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [class.auth-spinner]="loading" [disabled]="!rdvForm.valid" (click)="confirmAdd()">Envoyer</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Annuler</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
