<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/pages/Gb.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <div class="logo">
              <img  src="assets/images/ges_cab.png" alt="" width="250" height="250" >
            </div>
            <div class="card">
              <div class="card-body">
                <h2 class="welcome-msg card-title">Mot de passe oublié ?</h2>
       
                <form #_form="ngForm" (ngSubmit)="onSubmit(_form)">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <span class="error-subheader2 p-t-20 p-b-15 text-center">
                        Entrez votre email !
                      </span>
                      <div *ngIf="errorMsg" class="col-red mb-2">{{errorMsg}}</div>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Votre email</mat-label>
                        <input matInput type="email" ngModel name="email" required email>
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="!_form.valid">
                         Veuillez renseigner le bon email !
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="container-auth-form-btn mt-2 mb-0">
                    <button mat-flat-button [class.auth-spinner]="loading" [disabled]="loading" color="primary" class="auth-form-btn" [disabled]="!_form.valid " type="submit">
                      Envoyer
                    </button>
                  </div>
                  <div class="w-full p-t-25 text-center">
                    <div>
                      <a routerLink="/authentication/signin" class="txt1">
                        Se connecter?
                      </a>
                    </div>
                  </div>
                </form>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  